<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paint.ME</title>
    <script>
        const gameName = "<%= gameName %>"
    </script>
    <script src="/socket.io/socket.io.js"></script>
    <link rel='icon' href='../public/favicon1.ico' type='image/x-icon'/ >
    <link rel="stylesheet" href="./public/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet"></head>
<body>
    <div id="container">
        <div id="containerOfArt">
            <div>
                <canvas id="canvas"></canvas>
            </div>
            <div id="guessContainer">
                <input id="guessedInput" type="text">
                <button type="submit" id="guessButton">Guess</button>
            </div>
            <div id="wordContainer">
                Word
            </div>
        </div>
        <div id="colorWheel">
            <input id="colorInput" type="color">
            <button id="colorButton" class="primaryButton">Change Color</button>
            <button id="whiteColorButton"  class="primaryButton">Erase</button>
            <button id="thinThicknessButton" class="primaryButton">Thin</button>
            <button id="normalThicknessButton" class="primaryButton">Normal</button>
            <button id="fatThicknessButton" class="primaryButton">Fat</button>
            <button id="clearAllButton" class="primaryButton">Clear All</button>
        </div>

        <div id="lobbyContainer">
                <div class="hoverText">Players : Score</div>
                <div class="connectedPlayer-container"></div>
                <div class="connectedPlayer-container"></div>
                <div class="connectedPlayer-container"></div>
                <div class="connectedPlayer-container"></div>
                <div class="connectedPlayer-container"></div>
                <div class="connectedPlayer-container"></div>
                <div class="connectedPlayer-container"></div>
                <div class="connectedPlayer-container"></div>
                <div class="connectedPlayer-container"></div>
                <div class="connectedPlayer-container"></div>
        </div>
        <div id="headerTextRoom">
            <a href="/">PAINT.ME</a>        
            <div id="timer">50</div>
            <div id="winnerTextContainer">
        </div>
        <h3 id="winnerText"></h3>
        </div>
        <div id="gameSettingContainer">
            <div id="settingHeader" class="hoverText">
                <p>Game Settings:</p>
            </div>
            <div id="roundNumberSettingContainer">
                <label for="roundsInput" class="hoverText">Rounds:</label>
                <input id="roundsInput" type="number" class="gameInput" required>
            </div>
            <div id="timeSettingContainer">
                <label for="timeInput" class="hoverText">Seconds/Round:</label>
                <input id="timeInput" type="number" class="gameInput" required>
            </div>
            <div>
                <button id="resetPointsButton">Reset Points</button>
            </div>
            <div id="roundSettingContainer">
                <h2>Theme:</h2>
                <button class="wordThemeButton" id="englishNormalWordsButton">English Normal</button>
                <button class="wordThemeButton" id="germanNormalWordsButton">German Normal</button>
                <button class="wordThemeButton" id="englishSportsWordsButton">English Sports</button>
                <button class="wordThemeButton" id="germanSportsWordsButton">German Sports</button>
            </div>
        </div>
        <button type="submit" id="startButton">START GAME</button>
        <a id="githubText" href="https://github.com/tmonee23/drawIoSource">Github and patch notes</a>
    </div>
</body>
<script defer src="./public/client.js"></script>
</html>