#container{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-areas: 
    "header header header"
    "players game etc"
    "footer footer footer";
    grid-template-rows: 20vh auto 20vh;
    grid-template-columns: 30vw auto 30vw;
    align-items: center;
    color: white;
    font-size: 1.4rem;
}

#headerTextRoom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-area: header;
    grid-column: 2;
}

#headerTextRoom > a{
    font-size: 5rem;
    margin-bottom: 1rem;
    user-select: none;
    grid-area: header;
    grid-column: 2;
    color: rgb(255, 255, 255);
    border: 0px solid black;
}

#headerTextRoom > a:hover{
    animation: headerAnim 1s ease forwards;
}

#lobbyContainer{
    grid-area: players;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: -40vh;
    margin-left: 3vw;
    text-align: center;
    width: 80%;
}

#lobbyContainer > div{
    margin-top: .5rem;
    border-radius: .3rem;
}

#startButton{
    grid-area: footer;
    grid-column: 2;
    width: 100%;
    align-self: flex-start;
    position: relative;
    display: block;
    background-color: rgba(0, 0, 0, 0.10);
    outline: none;
    font-size: 1.4rem;
    cursor: pointer;
    border: 2px solid white;
    padding:20px 40px;
    box-shadow: 0px 7px white;
    border-radius: .2rem;
}

#startButton:hover{
    border: 2px solid  #003249;
    box-shadow: 0px 7px  #003249;
}

#startButton:active{
    top: 5px;
    box-shadow: 0px 0px white;
    color:  #003249
}

#gameSettingContainer{
    grid-area: game;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#roundNumberSettingContainer{
    display: flex;
    margin-bottom: .15rem;
}

#timeSettingContainer{
    display: flex;
}

#roundsInput, #timeInput{
    position: absolute;
    right: 30vw;
    border-radius: .3rem;
    text-align: center;
    font-size: 1.1rem;
    width: 4rem;
    color: #003249;
    font-family: 'Anton', sans-serif;

}

.wordThemeButton{
    margin-bottom: 1rem;
    margin-top: 1rem;
    border-radius: .5rem;
    display: block;
    width: 100%;
    background-color: rgba(0,0,0,0.1);
    outline: none;
    font-size: 1.4rem;
    cursor: pointer;
}

.wordThemeButton:hover{
        border: 2px solid #003249;
}

.wordThemeButton:active{
    color: #003249
}

#settingHeader{
    font-size: 3rem;
}

#roundSettingContainer{
    margin-top: 1rem;
}

#containerOfArt{
    grid-area: game;
}

#colorWheel{
    grid-area: etc;
    grid-row: 2;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: -10vh;
    margin-left: 3vw;
    text-align: center;
    width: 80%;
}

#colorWheel > button {
    width: 5rem;
    background-color: rgba(0,0,0,0.10);
    margin-top: 1rem;
    font-size: 1.4rem;
    cursor: pointer;
    outline: none;
    border: 1px solid white
}

#colorWheel > button:hover {
    border: 2px solid #003249;
}

#colorWheel > button:active {
    color: #003249;
}

#timer{
    font-size: 2rem;
}

#guessContainer{
    margin-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#guessContainer > button {
    margin-left: 1rem;
    width: 5rem;
    background-color: rgba(0,0,0,0.10);
    margin-top: 1rem;
    font-size: 1.4rem;
    cursor: pointer;
    outline: none;
    border: 1px solid white
}

#guessContainer > button:hover {
    border: 2px solid #003249;
}

#guessContainer > button:active {
    color: #003249;
}

#guessContainer > input {
    margin-top: 1rem;
    border-radius: .3rem;
    text-align: center;
    font-size: 1.1rem;
    width: 20rem;
    color: #003249;
    font-family: 'Anton', sans-serif;
}


#wordContainer{
    margin-top: 1rem;

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

