#container{
    min-height: 100vh;    
        display: grid;
    grid-template-areas: 
    "header header header"
    "players game etc"
    "footer footer footer";
    grid-template-rows: 15vh auto 10vh;
    grid-template-columns: 30vw auto 30vw;
    align-items: center;
    color: white;
    font-size: 1.4rem;
    user-select: none;
}

.hoverText{
    transition: .5s ease;
}

.hoverText:hover{
    color:  #003249
}

#headerTextRoom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-area: header;
    grid-column: 2;
}

#headerTextRoom > a{
    font-size: 5rem;
    user-select: none;
    grid-area: header;
    grid-column: 2;
    color: rgb(255, 255, 255);
    border: 0px solid black;
}

#headerTextRoom > a:hover{
    animation: headerAnim 1s ease forwards;
}

#lobbyContainer{
    grid-area: players;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: -40vh;
    margin-left: 3vw;
    text-align: center;
    width: 80%;
}

#lobbyContainer > div{
    margin-top: .5rem;
    border-radius: .3rem;
}

#startButton{
    grid-area: footer;
    grid-column: 2;
    width: 100%;
    max-height: 8vh;
    align-self: flex-start;
    position: relative;
    display: block;
    background-color: rgba(0, 0, 0, 0.10);
    outline: none;
    font-size: 3vh;
    cursor: pointer;
    border: 2px solid white;
    padding:2vh 10vw;
    box-shadow: 0px 7px white;
    border-radius: .2rem;
    margin-top: -4vh;
}

#startButton:hover{
    border: 2px solid  #003249;
    box-shadow: 0px 7px  #003249;
}

#startButton:active{
    top: 5px;
    box-shadow: 0px 0px white;
    color:  #003249
}

#gameSettingContainer{
    grid-area: game;
    display: flex;
    flex-direction: column;
    text-align: center;
}


#roundNumberSettingContainer{
    display: flex;
    margin-bottom: .15rem;
}

#timeSettingContainer{
    display: flex;
}

#roundsInput, #timeInput{
    position: absolute;
    right: 30vw;
    border-radius: .3rem;
    text-align: center;
    font-size: 1.1rem;
    width: 4rem;
    color: #003249;
    font-family: 'Anton', sans-serif;
    background-color: rgba(255, 255, 255, 0.4);
}

#colorInput{
    border-radius: .3rem;
    width: 5rem;
    background-color: rgba(0,0,0,0.1);
    cursor: pointer;
    outline: none;
    border: 1px solid white
}

input[type="color"] {
	-webkit-appearance: none;
	border: none;
	width: 32px;
	height: 32px;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
}

.wordThemeButton{
    margin-bottom: 1rem;
    margin-top: 1rem;
    border-radius: .5rem;
    display: block;
    width: 90%;
    background-color: rgba(0,0,0,0.1);
    outline: none;
    font-size: 1.4rem;
    cursor: pointer;
}

.wordThemeButton:hover{
        border: 2px solid #003249;
}

.wordThemeButton:active{
    color: #003249
}

#resetPointsButton{
    width: 50%;
    margin-bottom: 1rem;
    margin-top: 1rem;
    border-radius: .2rem;
    display: block;
    background-color: rgba(0,0,0,0.1);
    outline: none;
    font-size: 1.4rem;
    cursor: pointer;
    border: 2px solid white;
    box-shadow: 0px 7px white;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

#resetPointsButton:hover{
    border: 2px solid #003249;
    box-shadow: 0px 7px  #003249;

}

#resetPointsButton:active{
    top: 5px;
    box-shadow: 0px 0px white;  
    color:  #003249
}


#settingHeader{
    font-size: 3rem;
}

#roundSettingContainer{
    overflow-y: scroll;
    max-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* width */
#roundSettingContainer::-webkit-scrollbar {
    width: 5px;
    border-radius: 100%;
}

/* Track */
#roundSettingContainer::-webkit-scrollbar-track {
    border-radius: 1rem;
    background: rgb(34, 119, 144);  }

/* Handle */
#roundSettingContainer::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    height: 1rem;
    background: #003249;
}

/* Handle on hover */
#roundSettingContainer::-webkit-scrollbar-thumb:hover {
    background: white;
}

#containerOfArt{
    grid-area: game;
}

#colorWheel{
    grid-area: etc;
    grid-row: 2;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: -10vh;
    margin-left: 3vw;
    text-align: left;
    width: 80%;
}

#colorWheel > button {
    width: 5rem;
    background-color: rgba(0,0,0,0.10);
    margin-top: 1rem;
    font-size: 1.4rem;
    cursor: pointer;
    outline: none;
    border: 1px solid white
}

#colorWheel > button:hover {
    border: 2px solid #003249;
}

#colorWheel > button:active {
    color: #003249;
}

#timer{
    position: absolute;
    top: 20vh;
    left: 49.5vw;
    font-size: 2rem;
}

#guessContainer{
    margin-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#guessContainer > button {
    margin-left: 1rem;
    width: 5rem;
    background-color: rgba(0,0,0,0.10);
    margin-top: 1rem;
    font-size: 1.4rem;
    cursor: pointer;
    outline: none;
    border: 1px solid white
}

#guessContainer > button:hover {
    border: 2px solid #003249;
}

#guessContainer > button:active {
    color: #003249;
}

#guessContainer > input {
    margin-top: 1rem;
    border-radius: .3rem;
    text-align: center;
    font-size: 1.1rem;
    width: 20rem;
    color: #003249;
    font-family: 'Anton', sans-serif;
}

#wordContainer{
    margin-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#winnerText{
    position: absolute;
    top: 15vh;
    left: auto; 
    border: 1px solid white;
    border-radius: .5rem;
    padding: 1rem;
}

#githubText{
    text-decoration: none;
    color: white;
    font-size: .5rem;
    grid-area: footer;
    grid-row: 3;
    margin-bottom: -3rem;
    align-self: center;
    text-align: center;
    border: none;
}

#githubText:hover{
    font-size: 1rem;
    color: #003249;
}

#myRange{
    width: 4vw;
    margin-top: 1rem;
    margin-bottom: 1rem;
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    height: 1vh; /* Specified height */
    background: #003249; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    border-radius: .5rem;
}

/* Mouse-over effects */
#myRange:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  #myRange::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: .5vw; /* Set a specific slider handle width */
    height: 2vh; /* Slider handle height */
    border-radius: .5rem;
    background: white; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  
  #myRange::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background:white;
    cursor: pointer; /* Cursor on hover */
  }

#myRangeText{
    display: block;
    float: left;
}

