@import "game.css";
@import "index.css";
@import "canvas.css";

*, *::before, *::after{
    box-sizing: border-box;
}

body{
    font-family: 'Anton', sans-serif;
    background-color: rgb(255, 255, 255);
    margin: 0;
}

button{
    font-family: 'Anton', sans-serif;
}