@import "game.css";
@import "index.css";
@import "canvas.css";

*, *::before, *::after{
    box-sizing: border-box;

}

body{
    font-family: 'Anton', sans-serif;
    background-color: #9AD1D4;
    margin: 0;
}

button{
    font-family: 'Anton', sans-serif;
    color: white;
}

input{
    outline: none;
}